<section class="ff-reg-done ff-reg-step-done">
  <h1 class="ff-reg-main-h">
    <i class="material-icons">check</i>
    I'm done
  <h1 class="ff-reg-main-h">

  <h2>Awesome, thanks {{registerStepsDone.name}}.</h2>

  <h1 class="ff-reg-main-h">
    We look forward to seeing you at an alumni event, and helping you give back to
    your old school or college.
  <h1 class="ff-reg-main-h">

  <md-button
    class="md-raised md-primary"
    href="http://futurefirst.org.uk"
    ng-style="registerStepsDone.getSchoolBackgroundColour()">
    Home
  </md-button>
</section>
