<div class="ff-register">
  <header>
    <img src="/images/logo.png" class="ff-logo" alt="Future First Logo">
    <md-divider></md-divider>
  </header>

  <div ui-view=""></div>
</div>
<footer class="ff-onboard-footer">
    <div layout="row" flex>
      <div flex>
        <h2>Supporters & Partners</h2>
        <p>Donec semper odio orci, vitae gravida libero condimentum sed.
        Praesent et <br />
        augue ut dui bibendum feugiat.</p>
      </div>
    </div>
    <div class="ff-onboard-partners" layout="row">
      <div flex="25" layout="column">
        <a href="#">
          <img src="/images/partners/shawbrook.png"
          class="shawbrook_logo"
          alt="Shawbrook"
          target="_blank">
        </a>
        <a href="#">
          <img src="/images/partners/taylorwessing.png"
          class="taylorwessing_logo"
          alt="Taylor Wessing"
          target="_blank">
        </a>
      </div>
      <div flex="25" layout="column">
        <a href="#">
          <img src="/images/partners/rbs.png"
          class="rbs_logo" alt="RBS"
          target="_blank">
        </a>
        <a href="#">
          <img src="/images/partners/cityoflondon.png"
          class="cityoflondon_logo"
          alt="City of London"
          target="_blank">
        </a>
      </div>
      <div flex="25" layout="column">
        <a href="#">
          <img src="/images/partners/ubs.png"
          class="ubs_logo"
          alt="UBS"
          target="_blank">
        </a>
        <a href="#">
          <img src="/images/partners/dulvertontrust.png"
          class="dulvertontrust_logo"
          alt="Dulverton Trust"
          target="_blank">
        </a>
      </div>
      <div flex="25" layout="column">
        <a href="#">
          <img src="/images/partners/wellcometrust.png"
          class="wellcometrust_logo"
          alt="Wellcome Trust"
          target="_blank">
        </a>
        <a href="#">
          <img
          src="/images/partners/cet.png"
          class="cet_logo"
          alt="CET"
          target="_blank" >
        </a>
      </div>
    </div>
  </footer>
