<section layout="row" class="ff-reg-done" flex>
  <div flex="33">
    <img alt="Rocket" class="ff-rocket" src="/images/rocket.png">
  </div>
  <div flex="66">
    <h2>Thanks for joining Maria!</h2>

    <h1 class="ff-reg-main-h">
      Check your email for a verification email and we'll be in touch as sonn as
      High Storrs School has a network set up.
    </h1>

    <md-button
      class="md-raised md-primary"
      href="http://futurefirst.org.uk">
      Home
    </md-button>
  </div>
</section>
